
body {
    
    margin: 7%;
}

.row {
    justify-content: center;
    align-items: center;
    background-color : #8D63FF;
    color :#ccc;  
      max-width: 25em; max-height:31em;
    position: static;
        margin: auto;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: linear-gradient(90deg, #C7C5F4, #776BCC);	
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    -webkit-text-fill-color: aliceblue;
    font-size: 25px;
   
}
hr{
    box-shadow:  0px 10px rgba(0, 0, 0, 0.1);
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    -webkit-text-fill-color: aliceblue;
    font-size: 15px;
}
.information-text {
    display: block;
    text-align: center;
    font-size: 18PX;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5px;
    color: #555;
}

.form-group {
    display: relative;
    flex-direction: column;
}

input {
    
    display: block;
    margin : 0 auto;
    text-align: center;
    width: 80%;
    height: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow:  0 10px rgba(0, 0, 0, 0.1);
}
.required:after {
    content:" *";
    color: red;
  }
.reset-btn{
 color: #04AA6D;
}

button {
    display: block;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 20px;
    background-color: #04AA6D;
    border: none;
   
    color: #FFFFFF;
   justify-content: center;
    width: 45%;
    text-align: center;
    padding: 8px;
    align-items: center;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow:  0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* Style for the Angular directives section */

button:hover {
    background-color: #45a049;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

.symbols {
    font-size: 18px;
    vertical-align: middle;
    color: #e74c3c;
}
