<!-- Creating Page Content
Inside the <body> element of our web site we will use our "Layout Picture" and create:

A navigation bar
A slide show
A header
Some sections and articles
A footer -->

<!-- Navigation-bar -->


<nav class="w3-bar w3-black">
    <a routerLink="/home" class="w3-button w3-bar-item">Home</a>
    <a routerLink="/band" class="w3-button w3-bar-item">Band</a>
    <a routerLink="/tour" class="w3-button w3-bar-item">Tour</a>
    <a routerLink="/contact" class="w3-button w3-bar-item">Contact</a>
  </nav>
  <!-- Slide Show -->

 
 
